.hoverBounce:hover {
	-webkit-animation: fadeInUp infinite 1s;
	animation: fadeInUp infinite 1s;
}

a:hover {
 cursor:pointer;
}

.hoverJump:hover {
	-webkit-animation: bounce infinite 1s;
	animation: bounce infinite 1s;
}

.roundCorners{
	border-radius: 10px;
}
